* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #2cbaa7 !important;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-wrap: inherit;
  margin: auto;
  padding: 50px;
  height: 100px;
}

.brand img {
  width: 100px;
}

.d-flex {
  display: flex;
  margin-left: 650px;
}

.fa-solid {
  padding: 10px;
}

/* SWITCH DARK MODE 
.dMode, toggle::before, toggle::after {
  background: hsl(0,0%,90%);
}

.dMode, .toggle {
  position: relative;
}

.dMode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.curtain, .sr,  .toggle::before, .toggle::after {
  position: absolute;
}

.curtain, .toggle::before, .toggle::after {
  transition: transform var(--dur);
}

.curtain, .toggle::before, .toggle:checked:after {
  transition-timing-function: ease-out;
}

.curtain, .sr {
  top: 0;
  left: 0;
}

.curtain {
  background: hsl(0,0%,100%);
  mix-blend-mode: difference;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 50%;
}

.sr, .toggle {
  overflow: hidden;
}

.sr {
  clip: rect(1px,1px,1px,1px);
  color: transparent;
  width: 1px;
  height: 1px;
}

.toggle {
  background: currentColor;
  border-radius: 0.75rem;
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.toggle::before, .toggle::after {
  border-radius: 50%;
  content: "";
  display: block;
  top: 0.25rem;
  left: 0.25rem;
  width: 1em;
  height: 1em;
}

.toggle::before, .toggle:checked::after {
  transition-delay: 0s;
}

.toggle:checked::before, .toggle::after {
  transition-delay: calc(var(--dur) * 0.75);
  transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7);
}

.toggle::before {
  transform: translateX(-1.5em);
}

.toggle:checked::before {
  transform: translateX(1.5em);
}

.toggle:checked::after {
  transform: translateX(3em);
}

.toggle:checked ~ .curtain {
  transform: scaleX(1);
}

.toggle:focus {
  outline: transparent;
} */

/* CAROUSEL 1 */

#carousel img {
  width: 100%;
  height: 300px;
}

/* PAGE FORMATION CARDS  */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
}

.photos {
  position: relative;
  width: 400px;
  height: 265px;
  filter: brightness(50%);
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: white;
  padding: 5px 10px;
  font-size: 16px;
}

/* FOOTER  */

footer {
  background-color: #e7e7e7;
}

.text-right {
  display: flex;
  justify-content: end;
}